<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR приложение</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4 text-center">
        {% if not error and not image and not words %}
            <h1 class="display-4">Загрузка файла</h1>
        {% endif %}
    </div>

    <div class="container mt-4">
        {% if error %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>

    <div class="container mt-4 text-center">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="fileInput" class="form-label">Выберите .jpeg файл:</label>
                <input class="form-control" type="file" id="fileInput" name="file" accept=".jpeg,.jpg">
            </div>
            <button type="submit" class="btn btn-primary">Загрузить файл</button>
            <p class="mt-2">Файл будет обработан, и результат отображен ниже.</p>
        </form>
    </div>

    {% if image %}
        <div class="container mt-4 text-center">
            <h3>Изображение с распознанными участками</h3>
            <img src="{{ image }}" alt="Результат OCR" class="img-fluid rounded w-75 border shadow-sm">
        </div>
    {% endif %}

    {% if words %}
        <div class="container mt-5">
            <h3 class="text-center mb-3">Распознанные слова</h3>
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Кусочек текста</th>
                        <th scope="col">Слово</th>
                        <th scope="col">Точность</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in words %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><img src="{{ word.image }}" alt="Кусочек" class="img-thumbnail" style="max-height: 50px;"></td>
                            <td>{{ word.word }}</td>
                            <td>{{ '%0.2f'|format(word.accuracy) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>